/*  GENERALE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}


/* UITILITY */

.clearfix {
  content: "";
  display: table;
  clear: both;
}



/* MAIN */


.container {
  width: 80%;
  margin: 0px auto;
  text-align: center;
}

.product{
  width: 300px;
  height: 500px;
  display: inline-block;
  margin: 10px;
  position: relative;
}


/* DESCRIZIONE PRODOTTO */


.product-desc {
  position: absolute;
  bottom: 15px;
  width: 100%;
  background-color: white;
  text-align: left;
}

.products-notes {
  position: absolute;
  bottom: 80px;
  font-size: 11px;
}

.discount {
  float: left;
  background-color: red;
  padding: 2px 5px;
  margin-right: 5px;
  color: white;
}

.sostenibility {
  float: left;
  padding: 2px 5px;
  background-color: green;
  color: white;
  bottom: 5px;
}

.heart {
  position: absolute;
  right: 0;
  top: 15px;
  background-color: white;
  padding: 10px 15px;
}


.trademark {
  color: #ddd5d5;
  font-size: 0.8rem;
  font-weight: lighter;
}

.prod-name {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
}

.price {
  font-size: 0.8rem;
}

.price .new-price {
  color: red;
}

.price .old-price {
color: #7e7777;
text-decoration: line-through;
}

/* IMMAGINI */

body img {
  width: 100%;
  background-size: contain;
  background-position: center;
}

.fit-tee .prod-card:hover img {
  content: url(./img/1b.webp);
}

.rose-tee .prod-card:hover img {
  content: url(./img/2b.webp);
}

.pastel .prod-card:hover img {
  content: url(./img/3b.webp);
}

.uni-tee .prod-card:hover img {
  content: url(./img/4b.webp);
}

.maya .prod-card:hover img {
  content: url(./img/5b.webp);
}

.esprit .prod-card:hover img {
  content: url(./img/6b.webp);
}
